<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/f25fd2d7-859a-4d83-b703-1b030f84c990/resourceGroups/MobileAppResource/providers/Microsoft.Web/sites/MobileBackendMVC</ResourceId>
    <ResourceGroup>MobileAppResource</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mobilebackendmvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mobilebackendmvc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MobileBackendMVC</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MobileBackendMVC</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:mobileappsrv.database.windows.net,1433;Initial Catalog=MobileWorkData;User ID=AdminJome;Password=jOmEr63/;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MobileBackendMVC_Api.Models.ApplicationDbContext, MobileBackendMVC-Api" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MobileWorkDataEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:mobileappsrv.database.windows.net,1433;Initial Catalog=MobileWorkData;User ID=AdminJome;Password=jOmEr63/;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MobileBackendMVC_Api.DataAccess.MobileWorkDataEntities, MobileBackendMVC-Api" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MobileWorkDataEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DataAccess.MobileDataModel.csdl|res://*/DataAccess.MobileDataModel.ssdl|res://*/DataAccess.MobileDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:mobileappsrv.database.windows.net,1433;Initial Catalog=MobileWorkData;User ID=AdminJome;Password=jOmEr63/;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mobileappsrv.database.windows.net,1433;Initial Catalog=MobileWorkData;User ID=AdminJome;Password=jOmEr63/;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>